CONNECTION_STRING=Host=aws-1-ap-northeast-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.kkrkhfzsoudhgjnyxxuv;Password=your_password_here;SSL Mode=Require;Trust Server Certificate=true

BLOCKCHAIN_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
